node_modules
# build files
dist
package-lock.json

# IDE & Docker related exclusions
# Theiaide
.theia
# WebStrom
.idea
# docker environment variables
.env

# Ben is using this as a reference.  Remove after 0.1 release
three.js
src/lib/renderers/webgl2/webgl2_fundamentals.js

examples/gettingstarted/threejs_gettingstarted.js
src/learning_ts.ts
bundle*.js
bundle*.js.zip
bundle.terserjs.zip
*.zip
www
output.txt
docs
