node_modules
# build files
dist
package-lock.json

*.tgz
# IDE & Docker related exclusions
# Theiaide
.theia
# WebStrom
.idea
# docker environment variables
.env

bundle*.js
bundle*.js.zip
bundle.terserjs.zip
*.zip
www
output.txt
docs
.DS_Store
*.tsbuildinfo